.login-container{
  display: flex;
  justify-content:center;
  align-items: center;
}



.login-user-list-box{
    flex-basis: 50%; 
    margin: 50px;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loginbox-textright{
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   justify-content: flex-end;

}

.text-heading-color{
    opacity: 0.8;
    background: transparent;
    text-align: initial;
    font-size: 4rem;
    text-transform:uppercase;
    color: var(--color-primary);
    text-shadow: -1px -1px 0 var(--color-heart), 1px -1px 0 var(--color-heart), -1px 1px 0 var(--color-heart), 1px 1px 0 var(--color-heart);
}

.login-user-list-box h3 {
    margin-left: 25px;
    font-weight: 600;
}

.login-user-list-box p{
    margin-top: 1rem;
    margin-left: 25px;
    font-weight: 400;
    margin-bottom: 5rem;
    width: auto;
    font-size: 1.2rem;
}

.login-user-list-box h1{
    margin-top: 1rem;
    margin-left: 25px;
    font-weight: 400;
    width: auto;
    font-size: 4rem;
}

.login-user-list-container{
    margin: 25px;
    display: grid; 
    grid-template-columns: repeat(3 , auto);
    row-gap: 2rem;
    width: 500px;
}

.login-user1{
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px dotted black;
    background: var(--color-white);
    cursor: pointer;
}

.login-box{
    flex-basis: 50%;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    margin: 50px 100px;
    padding: 20px;
}

.login-box h3{
    margin: 25px 25px;
    font-weight: 600;
}

.home-box{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    padding: 20px;
}

.home-box h3{
    margin: 25px 25px;
    font-weight: 600;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0px 25px;
    width: auto;
    padding-bottom: 20px;
}

.login-form input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 1px solid var(--color-primary);
}

.login-button {
    background: var(--color-gray);
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border-radius: 3px;
    cursor: pointer;
    column-gap: 0.5rem;
    font-size: 16px;
}

.login-button:hover{
    background: var(--color-primary);
}

.login-form span{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-user1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.login1-img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

/*----registred----*/

.register-image{
    display: flex;
}

.register-image input{
    border: none;
}

.register-left{
    flex-basis: 50%; 
    margin: 50px;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.register-dummydata-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.profileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 999px; */
    background-color: var(--color-primary);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center input{
    width: 10%;
}

.rememberme{
    display: flex;
    align-items: center;
}

.rememberme input{
    width: 5%;
}

/*input*/
.input-container{
    position: relative;
}

.input-check[type="checkbox"]:checked {
    content: 'U+2713';
    border: 2px solid transparent;
    background: transparent;
}

.input-check{
    position:absolute;
    right: 10px;
    top: 15px;
}

@media (max-width:600px) {
    .login-user-list-container{
        grid-template-columns: repeat(2 , auto);
        width: -webkit-fill-available;
        column-gap: 2rem;
    }
}

@media (max-width:1100px) {
    .login-container{
        flex-direction: column;
    }

    .login-user-list-container{
        width: -webkit-fill-available;
        column-gap: 2rem;
    }

    .login-box{
        width: -webkit-fill-available;
    }

}

